<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<body>
    <form method='post' action={{ url_for('lab_10.login') }}>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="passwd">Password</label>
            <input type="text" name="password" id="passwd"/>
        </div>
        <div>
            
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>