{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Reister Page{% endblock title %}

{% block main %}
<div class="form-container">
    <h1>Register Your Account</h1>
    <h2>Welcome To My Blog</h2>

    {% block page_content %}
    <form method="post">
    	{{ form.csrf_token }}
    	{{ form.username.label }}{{ form.username(class="form-control" ,style='color:red',placeholder='请输入用户名') }}
    	{{ form.nickname.label }}{{ form.nickname(class="form-control", style='color:red') }}
    	{{ form.email.label }}{{ form.email(class="form-control") }}
    	{{ form.password.label }}{{ form.password(class="form-control" ,style='color:red') }}
    	{{ form.confirm.label }}{{ form.confirm(class="form-control" ,style='color:red') }}
    	{{ form.submit() }}
    </form>

    <br>
    {% endblock %}
	<!-- <div class="col-md-4">
		{{ wtf.quick_form(form) }}
	</div> -->
</div>



{% endblock %}