{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Home Page
{% endblock %}

{% block Css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/Rish_block.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
{% endblock %}

{% block page_content %}
<!-- <h1>HOME PAGE</h1> -->
<div class="container-fluid">
	<div class="Rish_main">
		<div class="Rish_block_main">
			<div class="block great h1 cyanblue">
				<div class="sub">
					<div class="block_vertical_main">
						<div class="block_vertical_box">
							<div class="title">
								Welcome To RISH-OJ
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header title">
					公告
				</div>
				<div class="card-body text">
					<table class="table table-hover table-condensed table-striped">
						<thead>
							<tr>
								<th scope="col-md-5">TITLE</th>
								<th scope="col-md-3">Time</th>
								<th scope="col-md-3">Author</th>
								<th scope="col-md-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="./ICEJJ.html">ICEJJ</a>
								</td>
								<td>999999999999</td>
								<td>lpc0503</td>
							</tr>
							<tr>
								<td>r0y</td>
								<td>100000000</td>
								<td>roy4801</td>
							</tr>
							<tr>
								<td>halloworld</td>
								<td>22222222</td>
								<td>william32131231</td>
							</tr>
							<tr>
								<td>suntalk</td>
								<td>0</td>
								<td>????????????</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6 dis">
			<div class="card">
				<div class="card-header title">
					最新問題
				</div>
				<div class="card-body text">
					<table class="table table-hover table-condensed table-striped">
						<thead>
							<tr>
								<th>Title</th>
								<th>Time</th>
								<th>Author</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>葉佐任教得好嗎?</td>
								<td>2019-04-27 16:00:23</td>
								<td>ICEJJ</td>
							</tr>
							<tr>
								<td>周老師太扯</td>
								<td>2019-04-26 15:00:11</td>
								<td>Halloworld</td>
							</tr>
							<tr>
								<td>Love Live!!</td>
								<td>2019-04-23 08:00:11</td>
								<td>Roy4801</td>
							</tr>
							<tr>
								<td>Ya</td>
								<td>2017-04-23 08:00:11</td>
								<td>Suntalk</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6 dis">
			<div class="card">
				<div class="card-header title">
					Rank list
				</div>
				<div class="card-body text">
					<table class="table table-hover table-condensed table-striped">
						<thead>
							<tr>
								<th>Rank</th>
								<th>ID</th>
								<th>AC</th>
								<th>AC Rate</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Roy4801</td>
								<td>709</td>
								<td>99.8%</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Roy</td>
								<td>688</td>
								<td>97.9%</td>
							</tr>
							<tr>
								<td>3</td>
								<td>R0y4801</td>
								<td>611</td>
								<td>92.2%</td>
							</tr>
							<tr>
								<td>4</td>
								<td>R0y</td>
								<td>588</td>
								<td>94.1%</td>
							</tr>
							<tr>
								<td>5</td>
								<td>roy4801</td>
								<td>587</td>
								<td>88.1%</td>
							</tr>
							<tr>
								<td>6</td>
								<td>r0y4801</td>
								<td>550</td>
								<td>89.9%</td>
							</tr>
							<tr>
								<td>7</td>
								<td>r0y</td>
								<td>501</td>
								<td>83.3%</td>
							</tr>
							<tr>
								<td>8</td>
								<td>Halloworld</td>
								<td>486</td>
								<td>92.2%</td>
							</tr>
							<tr>
								<td>9</td>
								<td>ICEJJ</td>
								<td>399</td>
								<td>82.1%</td>
							</tr>
							<tr>
								<td>10</td>
								<td>SunTalk</td>
								<td>250</td>
								<td>100%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>
</div>




{% endblock %}

