{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block Css %}
<link rel="stylesheet" type="text/css" href="/static/css/register.css">
{% endblock %}

{% block title %}
Register Page
{% endblock %}

{% block main %}

<div class="test">

	<div class="form-container">
		<h3 class="page-title">Register</h3>
		<form method="POST" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
			{{ form.csrf_token }}
			<div class="form-group">
				<label for="username" class="page-text">Username</label>
				{{ form.username(class="form-control", id="username", type="text", placeholder="Username") }}
			</div>
			<div class="form-group">
				<label for="nickname" class="page-text">Nickname</label>
				{{ form.nickname(class="form-control", id="nickname", type="text", placeholder="Nickname") }}
			</div>
			<div class="form-group">
				<label for="Email" class="page-text">Email</label>
				{{ form.email(class="form-control", id="Email", type="text", placeholder="example@rish.com") }}
			</div>
			<div class="form-group">
				<label for="password" class="page-text">Password</label>
				{{ form.password(class="form-control", id="password", placeholder="password") }}
			</div>
			<div class="form-group">
				<label for="confirm" class="page-text">confirm</label>
				{{ form.confirm(class="form-control", id="confirm", placeholder="confirm") }}
			</div>
				{{ form.submit(type="submit", id="submit", class="btn byn-primary btn-outlined float-right", value="Resgister")}}
		</form>
	</div>


</div>
{% endblock %}
